
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 403 - Yetkisiz Erişim!</title>
    <link href="~/errorpage/error.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div class="fof">
            <h1>Error 403</h1>
            <h3>Yetkisiz Erişim!</h3>
            <a class="btn btn-primary" href="/Login/Index" role="button">Giriş Sayfasına dön!</a>
        </div>
    </div>
</body>
</html>
