
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404 - Aradığınız sayfa bulunamadı!</title>
    <link href="~/errorpage/error.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div class="fof">
            <h1>Error 404</h1>
            <h3>Aradığınız sayfa bulunamadı.</h3>
            <a class="btn btn-primary" href="/" role="button">Anasayfa'ya dön!</a>
        </div>
    </div>
</body>
</html>
