@using EntityLayer.Concrete
@model List<Services>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (!Model.Any())
{
    <div class="alert alert-danger text-black" role="alert">
        Veri yok.
    </div>
}
else
{
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <a href="/Admin/Services/Add" class="btn btn-success">Hizmet Ekle</a>
            <div class="card-body">
                <h4 class="card-title">Hizmetlerim</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hizmet</th>
                            <th>Icon</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ServicesID</td>
                            <td>@item.ServicesName</td>
                            <td class="py-1">
                                <img src="@item.ServicesIcon" alt="image">
                            </td>
                            <td><a href="/Admin/Services/Edit/@item.ServicesID" class="btn btn-outline-warning">Düzenle</a></td>
                            <td><a href="/Admin/Services/Delete/@item.ServicesID" class="btn btn-outline-danger">Sil</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}

