@model EntityLayer.Concrete.Skills
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Beceri Ekle</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Beceri</label>
                    <input type="text" class="form-control" asp-for="SkillsName">
                </div>
                <div class="form-group">
                    <label>%</label>
                    <input type="text" class="form-control" asp-for="Progress" value="100%">
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Ekle</button>
            </form>
        </div>
    </div>
</div>

